.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;
    border-bottom: 2px solid #c4c4c4;
    padding-bottom: 1.5rem;
}

.logo{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: black;
    margin-left: 1rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.logo:hover{
    border-bottom: 3px solid #000;
}

.icon{
    color: cadetblue;
    font-size: 2rem;
    padding: 0 10px
}

.bucket{
    padding: 0 10px;
    font-size: 1.6rem;
}